* {
	box-sizing: border-box;
	/* --bg-color:rgb(42, 59, 42); */
	--bg-color:rgb(174, 181, 168);
	--menucolor: rgb(236, 244, 225);
	--text-color: rgb(28, 36, 28);
}
html, body {
	/* height: 100%; */
  	margin: 0;
	-webkit-font-smoothing: antialiased;    
}

body{

}

.title{
    position: fixed;
    left:20px;
    top:20px;  
    text-align: center;
    z-index: 5;
    font-size: 1.2em;
    filter: drop-shadow(0px 0px 0.8em white);
}

@media only screen and (max-width:800px) {
  .title{
    font-size: 1em;}

  .sentence{
    font-size: 1.2em;
  }
}

.title a{
    text-decoration: none;
}

.title h1{
    font-family: Arial Bold, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: -0.03em;
    color: yellow;
    z-index: 1;
    margin: 0;

    /* filter: drop-shadow(0px 0px 20px YELLOW); */
    -webkit-text-stroke: 0.04em black;
}

.title:hover {
    filter: drop-shadow(0px 0px 1em YELLOW);
}

.subtitle{
    font-family: Arial Narrow Bold, Arial Impact, sans-serif sans-serif;
    /* -webkit-text-stroke: 1px white; */
    letter-spacing: -0.05em;
    font-style: italic;
    margin: 0;
    margin-top: -10px;
    font-size: 1.5em;
}

.subtitles {
    position: fixed;
    left: 5vw;
    bottom: 20px;
    height: 200px;
    z-index: 3;
    color: yellow;
    font-family: Arial Bold, Arial;
    font-style: italic;
    letter-spacing: -0.04em;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.04em; 
    filter: drop-shadow(0 0 1em rgba(0,0,0,0.2));
    text-align: center;
    /* text-align: -webkit-center; */
    font-size: 1.5em;
}

/* Hide all sentences by default */
.sentence {
    width: 90vw;
    /* max-width: 90vw; */
    opacity: 0;
    position: absolute;
    bottom: 0;
    /* transition: opacity 1s ease-in-out; */
}

/* Show the first sentence */
.sentence:first-child {
    opacity: 1;
}

@keyframes wiggle {
    0%   {margin: 0; transform: rotate(0deg);}
      50%  {margin: -10px 15px; transform: rotate(-16deg);}
    100% {margin: 13px 11px;transform: rotate(15deg);}
      }

  .ground{
    position: fixed;
    background: black;
    background: url(images/soupbackzoom.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  #about{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 20vh;
    z-index: 3;
    /* transform: translate(0, 50%); */
  }

  .bio{
    position: fixed;
    top: 40px;
    right: 20px;
    width: 380px;
    padding: 40px 20px;
    /* cursor: grab; */
    z-index: 3;
    border-radius: 30px;
    color: whitesmoke;
  }

  .bio + details{
    margin:0;
    padding:0;
    font-size: 1.6em;
  }

  .bio .biotext{
    max-height: 80vh;
    padding-bottom: 30px;
    overflow-y: scroll;
    -webkit-mask-image:linear-gradient(transparent 0%, #000 10%, #000 95%, transparent 100%);
    filter: drop-shadow(0 0 10px black);
  }

  .bio h2{
    font-weight: normal;
  }
  .bio a{
    color: white;
    text-decoration: none;
  }
  .bio a:hover{
    text-decoration: underline;
  }

  .bio marquee{
    color: yellow;
    font-style: italic;
    text-transform: uppercase;
  }
  .about summary.button{
    /* font-weight: bold;
    font-style: italic; */
    text-align: right;
    font-size: 1.2em;
    font-family: 'Arial Bold', sans-serif;
    letter-spacing: -0.03em;
    color: yellow;
    -webkit-text-stroke: 0.04em black;
    position:fixed;
    top: 40px;
    width: 340px;
    list-style: none;
    cursor: zoom-in;
    filter: drop-shadow(0px 0px 0.8em white);
  }

  .about summary.button::-webkit-details-marker{ display:none; }

  .about details[open] summary.button{
    color: yellow;
    -webkit-text-stroke: 0.04em black;
  }

  .bio summary:hover{
    color: coral;
    /* cursor:zoom-in; */
  }

  .soup{
    position: absolute;
    height: 100vh;
    max-height: 100vw;
    width: 100vw;
    max-width: 100vh;
    cursor: url("images/spoonright.png"), zoom-in;
    /* border-radius: 45vh; */
    /* border: 10px lightblue solid; */
    /* -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.6));
      filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.6)); */
  }



  .letters{
    font-family: arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: antiquewhite;
    position: absolute;
    height: 5vh;
    -webkit-filter: drop-shadow(10px whitesmoke);
    filter: drop-shadow(10px whitesmoke);
    transition: 0.2s ease;
    /* transform: translate(-50%,-50%); */
    cursor: url("images/spoonrightfull.png"), zoom-in;
  }

  .letters:hover {
    height: 7vh;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
      cursor: url("images/spoonright.png"), zoom-in;

  }

  /* .letters:hover{
    animation: wiggle 8s;
  } */

  .fam:hover .letters{
    /* animation: wiggle 8s; */
    -webkit-filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.6));
    filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.6));
  }

  .ingredient{
    position: absolute;
    /* display: block; */
    height: 13vh;
    /* margin-top: 7vh; */
    /* transform: translate(-50%,-50%); */
    animation: wiggle 10s infinite alternate;
    /* overflow: hidden; */
    -webkit-mask-image: linear-gradient(#000 85%, transparent 100%);
    transition: 0.5s ease;
  }
  .ingredient img{
    width: 15vh;
    margin-top: 5vh;
    transition: 0.5s ease;
    /* transform: translate(-50%,-50%); */
    cursor: url("images/spoonrightfull.png"), zoom-in;
  }

  .ingredient:hover{
    /* height: 100px; */
    margin-top: 0px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
  }

  .letters:hover ~ .ingredient img{
    margin-top: 0px;
    -webkit-filter: drop-shadow(2px 2px 7px rgba(255, 253, 108, 0.6));
    filter: drop-shadow(2px 2px 7px rgba(255, 253, 108, 0.6));
  }

  .ingredient:hover img{
    margin-top: 0px;
  }

  .recipe{
    visibility: hidden;
    opacity: 0;
    background: url(images/soupbackzoom.jpg) no-repeat center;
    background-size: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.1s;
    z-index: 2;
    font-size: 2em;
    color: whitesmoke;
    /* -webkit-mask-image: radial-gradient(#000 60%, transparent 85%); */
  }

  .recipe:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .recipe:target ~ .ingredient img{
    margin-top: 80px;
  }
  .recipe:target ~ .letters{
    height: 5vh;
  }
  .recipe .close{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: url("images/spoonright.png"), zoom-in;
  }

  .recipe .content{
    width: 60%;
    max-width: 80vh;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 2;
    overflow-y: scroll;
    -webkit-mask-image: radial-gradient(#000 60%, transparent 85%);
    padding: 100px 0 300px 0;
    cursor: default;
  }
  .recipe h2{
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
  }

  .recipe h3 {
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.05em;
  }
  .recipe marquee h3{
  /* match subtitle styling */
    font-family: Arial Bold Italic, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: yellow;
    -webkit-text-stroke: 0.04em black;
  }
  .recipe a.link{
    color: inherit;
    text-decoration: underline;
  }
  .recipe img{
    width: 60%;
    display: block;
    margin: auto;
  }

  .recipe .hovertext{
    text-decoration: none;
    font-style: italic;
    cursor: crosshair;
  }
  .hovertext:hover ~ .hoverimage, .hoverimage:hover{
    color:coral;
    display: block;
  }
  .recipe .hoverimage{
    display: none;
    position: absolute;
    /* margin-top:0; */
    transform: translate(-50%,-112%);
    left: 50%;
  }
  /* .hoverimage:hover{
    display:block;
  } */

  .hovericon{
    visibility: hidden;
  }
  .hovericon:hover{
    visibility: visible;
  }


  img:hover + img{
    visibility:visible;
  }
  
  img.icon:hover{
    visibility: hidden;
  }

  footer{
    position: fixed;
    bottom: 0px;
    right: 20px
  }
  footer p{
    color: whitesmoke;
    font-size: 0.8em;
    text-align: left;
    filter: drop-shadow(1px 1px 5px black);
  }
  footer a{
    color: inherit;
    /* text-decoration; */
  }

      /* Create a CSS animation to toggle sentences */
  @keyframes toggleSentences {
      0%, 45% {
          opacity: 1;
      }
      50%, 100% {
          opacity: 0;
      }
  }

  .sentence:nth-child(1) {
      animation: toggleSentences 16s steps(1, end) infinite;
      animation-delay: 0s;
  }

  .sentence:nth-child(2) {
      animation: toggleSentences 16s steps(1, end) infinite;
      animation-delay: 8s;
  }